body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }
  /* Setting the padding and border margins for the legend */
  .info {
    padding: 5px 8px;
    background: #edf2ef;
    border-radius: 8px;
  }
  /* Setting the height of the color blocks */
  .legend {
    line-height: 18px;
    color: #000000;
  }
  /* Setting the height and width of the legend */
  .legend i {
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 10px;
    opacity: 0.9;
  }